@using Cassette.Scripts
@model MyMoney.ViewModels.Authentication.Account.ManageAccountViewModel
@{
    ViewBag.Title = "Account";
    Bundles.Reference<ScriptBundle>("~/Areas/Authentication/Scripts/MyMoney.ManageAccount.js");
}

<div class="ui grid">
    <div class="eight wide column">
        <div class="ui segment">
            <h4 class="ui block header">
                <i class="spy icon"></i>
                Account Details
            </h4>
            @using (Html.BeginForm("EditAccountDetails", "Account", FormMethod.Post, new { id = "edit-account-form" }))
            {
                Html.RenderPartial("Editors/_AccountDetailsEditor", Model.AccountDetails);
                <div class="ui positive button" id="save-account">
                    <i class="save icon"></i>
                    Save
                </div>
            }
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segment">
            <h4 class="ui block header">
                <i class="user icon"></i>
                Personal Details
            </h4>
            @using (Html.BeginForm("EditPersonalDetails", "Account", FormMethod.Post, new { id = "edit-personal-form" }))
            {
                Html.RenderPartial("Editors/_PersonalDetailsEditor", Model.PersonalDetails);
                <div class="ui positive button" id="save-personal">
                    <i class="save icon"></i>
                    Save
                </div>
            }

        </div>
    </div>
</div>
