@using Cassette.Stylesheets
@using MyMoney.Resources
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PlainLayout.cshtml";

    Bundles.Reference<StylesheetBundle>("~/Areas/Common/Content");
}

<div class="error-container">
    <div class="ui styled segment">
        <h3 class="ui block header">
            <i class="exclamation triangle icon"></i>
            @Error.Title_SystemError
        </h3>
    </div>
</div>