@using MyMoney.Resources
@model MyMoney.ViewModels.Spending.Bills.AddBillViewModel
@{
}
<div class="ui modal" id="add-bill-modal">
    <div class="header">
        <i class="add icon"></i>
        @Bills.Title_AddBill
    </div>
    <div class="content">
        @using (Html.BeginForm("Add", "Bill", FormMethod.Post, new { id = "add-bill-form" }))
        {
            <div class="description">
                @{ Html.RenderPartial("Editors/_BillEditor", Model.Bill, new ViewDataDictionary { { "CategoryOptions", Model.CategoryOptions }, { "TimePeriodOptions", Model.TimePeriodOptions } }); }
            </div>
        }
    </div>
    <div class="actions">
        <div class="ui black deny right labeled icon button">
            @Common.Button_Cancel
            <i class="cancel icon"></i>
        </div>
        <div class="ui positive right labeled icon button" id="add-bill">
            @Common.Button_Save
            <i class="save icon"></i>
        </div>
    </div>
</div>