@model double?

<div class="field">
    @Html.LabelForModel()
    <div class="ui left icon input">
        @Html.TextBoxFor(x => x, new { data_input_mask = "currency" })
        <i class="pound icon"></i>
    </div>
</div>