@model DateTime?
@{
    string date;

    if (!Model.HasValue || Model.Value == DateTime.MinValue)
    {
        date = DateTime.Now.ToString("yyyy-MM-dd");
    }
    else
    {
        date = Model.Value.ToString("yyyy-MM-dd");
    }

}

<div class="field">
    @Html.LabelForModel()
    @Html.TextBoxFor(x => x, new { type = "date" })
</div>

<script type="text/javascript">
    (function() {
        var elem = document.getElementById("@Html.IdForModel()");
        elem.value = "@date";
    })();
</script>