@model string

<div class="field" data-newpassword="true">
    @Html.LabelForModel()
    @Html.PasswordFor(x => x)
    <div class="ui bottom attached indicating progress" id="password-bar">
        <div class="bar"></div>
    </div>
    <input type="hidden" id="password-check"/>
</div>
