.login-container {
    max-width: 500px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.register-container {
    max-width: 500px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}