@using Cassette.Scripts
@using Cassette.Stylesheets
@using Cassette.Views
@using MyMoney.Resources
@using MyMoney.ViewModels.Spending.Bills
@using Newtonsoft.Json
@model ManageBillsViewModel

@{
    ViewBag.Title = Bills.Title_ManageBills;

    Bundles.Reference<ScriptBundle>("~/Areas/Spending/Scripts/Bill/MyMoney.ManageBills.js");

    Bundles.Reference<StylesheetBundle>("~/Content/Chartist/chartist.css");
}

<div class="ui grid">
    <div class="twelve wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="delete calendar icon"></i>
                @Bills.Title_Bills
            </div>
            @{ Html.RenderPartial("Bill/Tables/_BillTable", Model.Bills); }
        </div>
    </div>
    <div class="four wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="browser icon"></i>
                @Bills.Heading_BillBreakdown
            </div>
            <div class="ui divided items">

                <div class="item">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                    <div id="category-chart"></div>
                </div>
                <div class="item">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                    <div id="period-chart"></div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Modals{
    @{ Html.RenderPartial("Bill/Modals/_AddBillModal", Model.AddModel); }
    @{ Html.RenderPartial("Bill/Modals/_EditBillModal", Model.EditModel); }
}

@section Scripts{
    <script type="text/javascript">
        createBillCategoryChart(@Html.Raw(JsonConvert.SerializeObject(Model.BillCategories)));
        createBillPeriodChart(@Html.Raw(JsonConvert.SerializeObject(Model.BillPeriods)));
    </script>
}