@model MyMoney.ViewModels.Authentication.Account.PersonalDetailsViewModel
<div class="ui form">
    <div class="two fields">
        @Html.EditorFor(x => x.FirstName)
        @Html.EditorFor(x => x.LastName)
    </div>
    <div class="two fields">
        @Html.EditorFor(x => x.DateOfBirth)
    </div>
</div>
