<div class="ui menu mainmenu">
    <div class="item" id="menu-toggle" data-hint="Click here to open the menu" data-hintposition="top-middle">
        <i class="block layout icon"></i>
    </div>

    <div class="left item search-bar">
        <div class="ui icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>

    <a class="item" href="@Url.Action("Manage", "Account", new { area = "Authentication"})">
        <i class="user icon"></i>
        Account
    </a>
    <a class="item" id="hint-button">
        <i class="comment icon"></i>
        Show hints
    </a>
    <a class="item" href="@Url.Action("Logout", "User", new { area = "Authentication" })">
        <i class="sign out icon"></i>
        Sign out
    </a>


</div>