@using Cassette.Scripts
@using Cassette.Stylesheets
@using Cassette.Views
@using MyMoney.Resources
@model MyMoney.ViewModels.Saving.Goal.ManageGoalsViewModel
@{
    ViewBag.Title = Goal.Title_ManageGoals;

    Bundles.Reference<StylesheetBundle>("~/Areas/Saving/Content/Goal");
    Bundles.Reference<ScriptBundle>("~/Areas/Saving/Scripts/Goal");
}
<input type="hidden" id="progress-url" value="@Url.Action("GetProgressView", new { goalId = Guid.Empty})"/>
<div class="ui grid" id="main-grid">
    <div class="twelve wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="flag icon"></i>
                @Goal.Header_CurrentGoals
            </h4>
            <div class="ui divided items" id="in-progress">
                @foreach (var goal in Model.Goals.Where(x => !x.Complete))
                {
                    Html.RenderPartial("Components/_GoalProgressBar", goal);
                }

                @if (Model.Goals.All(x => x.Complete))
                {
                    <span>
                        You have no current goals
                    </span>
                }
            </div>
        </div>
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="check icon"></i>
                @Goal.Header_CompletedGoals
            </h4>
            <div class="ui divided items">
                @foreach (var goal in Model.Goals.Where(x => x.Complete))
                {
                    Html.RenderPartial("Components/_GoalProgressBar", goal);
                }
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="flag outline icon"></i>
                @Goal.Header_YourGoals
            </h4>
            <div class="ui green button wide-button" id="add">
                <i class="add icon"></i>
                Create a New Goal
            </div>
        </div>
    </div>
</div>

@section Modals{
    @{
        Html.RenderPartial("Modals/_EditGoalModal", Model.EditGoal);
        Html.RenderPartial("Modals/_AddGoalModal", Model.AddGoal);
    }
}
