@{
    ViewBag.Title = "Test";
}

<div class="ui grid" id="main-grid">
    <div class="twelve wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="flag icon"></i>
                Current Goals
            </h4>
            <div class="ui divided items">
                <div class="item">
                    <div class="content">
                        <span class="header">Test</span>
                        <div class="meta">test</div>
                        <div class="description">
                            <div class="ui progress success">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <span class="header">Test</span>
                        <div class="meta">test</div>
                        <div class="description">
                            <div class="ui progress success">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="check icon"></i>
                Completed Goals
            </h4>
            <div class="ui divided items">
                <div class="item">
                    <div class="content">
                        <span class="header">Test</span>
                        <div class="meta">test</div>
                        <div class="description">
                            <div class="ui progress success">
                                <div class="bar">
                                    <div class="progress"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui styled segment">
            <h4 class="ui block header">
                <i class="flag outline icon"></i>
                Your Goals
            </h4>
        </div>
    </div>
</div>
