/*
@reference ~/Content/Semantic/semantic.css
*/

body {
    background-color: #EFEFEF;
}

.validation-summary-errors {
    background-color: #FFF6F6;
    color: #9F3A38;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 1px #E0B4B4 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
    margin-top: 10px;
}

    .validation-summary-errors ul {
        list-style: none !important;
        padding: 0;
        list-style-type: none;
    }

.mainmenu {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

#menu-toggle:hover {
    cursor: pointer !important;
    opacity: 0.7 !important;
}

.title.item {
    padding: .92857143em 1.14285714em !important;
}

#sidebar {
    color: white !important;
}

.ui.accordion:not(.styled) .title ~ .content:not(.ui), .ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
    padding: 0 !important;
    text-indent: 10px;
}

.logo {
    height: 48px !important;
    padding: 10px !important;
    text-align: center;
    font-size: large;
    line-height: 24px !important;
}

.fixed-bottom-item {
    bottom: 0 !important;
    position: absolute !important;
    text-align: center !important;
    width: 100%;
    font-size: small;
}

.nav-item {
    min-width: 150px;
}

.user-dropdown {
    text-align: center !important;
    width: 100%;
}

.nav-item .text {
    text-align: center !important;
}

.nav-item:before {
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
}

.nav-item:after {
    position: absolute;
    content: '';
    top: 0%;
    right: 0px;
    height: 100%;
    width: 1px;
    background: rgba(34, 36, 38, 0.1);
}

.search-bar {
    min-width: 400px !important;
}

.button-list div.button {
    margin-bottom: 5px;
    min-width: 100%;
    text-align: left !important;
}

th.highlighted {
    text-decoration: underline;
}

th:hover {
    cursor: pointer !important;
}

.ct-label {
    fill: white !important;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #89F4F3 !important;
}

.ct-series-b .ct-line,
.ct-series-b .ct-point, 
.ct-series-b .ct-slice-donut {
    stroke: #79D8D8 !important;
}

.ct-series-c .ct-line,
.ct-series-c .ct-point, 
.ct-series-c .ct-slice-donut {
    stroke: #618F93 !important;
}

.ct-series-d .ct-line,
.ct-series-d .ct-point, 
.ct-series-d .ct-slice-donut {
    stroke: #335C6B !important;
}

.ct-series-e .ct-line,
.ct-series-e .ct-point, 
.ct-series-e .ct-slice-donut {
    stroke: #001626 !important;
}
