@using Cassette.Scripts
@using Cassette.Stylesheets
@{
    ViewBag.Title = "Budget Overview";

    Bundles.Reference<ScriptBundle>("~/Areas/Dashboard/Scripts/Budget");

    Bundles.Reference<StylesheetBundle>("~/Content/Chartist");
}

<div class="ui grid" id="main-grid">

</div>