@using Cassette.Scripts
@using Cassette.Stylesheets
@{
    ViewBag.Title = "Budget Overview";

    Bundles.Reference<ScriptBundle>("~/Areas/Dashboard/Scripts/Budget/MyMoney.BudgetOverview.js");

    Bundles.Reference<StylesheetBundle>("~/Content/Chartist/chartist.css");
}

<div class="ui grid">
    <div class="eight wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="calendar icon"></i>
                Month's Spending
            </div>
            <input type="hidden" id="spending-chart-endpoint" value="@Url.Action("MonthlySpending", "Budget")"/>
            <div id="spending-chart"></div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="pie chart icon"></i>
                Spending Distribution
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="delete calendar icon"></i>
                Upcoming Bills
            </div>
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        2017-01-01
                    </td>
                    <td>British Gas</td>
                    <td>Utilities</td>
                    <td>£35.40</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">

                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui styled segment">
            <div class="ui block header">
                <i class="target icon"></i>
                Savings Targets
            </div>
        </div>
    </div>
</div>