@using Cassette.Scripts
@using Cassette.Stylesheets
@{
    ViewBag.Title = "Budget Overview";

    Bundles.Reference<ScriptBundle>("~/Areas/Dashboard/Scripts/Budget/MyMoney.BudgetOverview.js");

    Bundles.Reference<StylesheetBundle>("~/Content/Chartist/chartist.css");
}

<div class="ui grid" id="main-grid">

</div>