@using MyMoney.Resources
@model MyMoney.ViewModels.Spending.Expenditure.AddExpenditureViewModel
<div class="ui modal" id="add-expenditure-modal">
    <div class="header">
        <i class="add icon"></i>
        @Expenditure.Title_AddExpenditure
    </div>
    <div class="content">
        @using (Html.BeginForm("Add", "Expenditure", FormMethod.Post, new { id = "add-expenditure-form" }))
        {
            <div class="description">
                @{ Html.RenderPartial("Editors/_ExpenditureEditor", Model.Expenditure, new ViewDataDictionary { { "CategoryOptions", Model.CategoryOptions } }); }
            </div>
        }
    </div>
    <div class="actions">
        <div class="ui black deny right labeled icon button">
            @Common.Button_Cancel
            <i class="cancel icon"></i>
        </div>
        <div class="ui positive right labeled icon button" id="add-expenditure">
            @Common.Button_Save
            <i class="save icon"></i>
        </div>
    </div>
</div>
